<p id="notice"><%= notice %></p>

<h1>Guns</h1>

<table>
  <thead>
    <tr>
      <th>Gun name</th>
      <th>Gun type</th>
      <th>Ammo type</th>
      <th>Gun description</th>
      <th>Gun body</th>
      <th>Gun headshot</th>
      <th>Mag size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guns.each do |gun| %>
      <tr>
        <td><%= gun.gun_name %></td>
        <td><%= gun.gun_type %></td>
        <td><%= gun.ammo_type %></td>
        <td><%= gun.gun_description %></td>
        <td><%= gun.gun_body %></td>
        <td><%= gun.gun_headshot %></td>
        <td><%= gun.mag_size %></td>
        <td><%= link_to 'Show', gun %></td>
        <td><%= link_to 'Edit', edit_gun_path(gun) %></td>
        <td><%= link_to 'Destroy', gun, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gun', new_gun_path %>
