<div class="background">
	<div class="main">

<h1><%= @attachment.atmt_name %></h1>

<p>
  <strong>Type:</strong>
  <%= @attachment.atmt_type %>
</p>

<p>
  <strong>Attaches To:</strong>
  <%= @attachment.attaches_to %>
</p>

<p>
  <strong>Color:</strong>
  <%= @attachment.color %>
</p>

<p>
  <strong>Description:</strong>
  <%= @attachment.description %>
</p>

</div>
</div>