<div class="background">
	<div class="main">

	<h1>Guns</h1>

	<p><strong>Pistols: </strong></br>
	<% @guns.each do |gun| %>
		<% if(gun.gun_type == "Pistol") %>
			<%= link_to(gun.gun_name, {:controller => 'items', :action => 'gun_stats', :id => gun.id}) %></br>
		<% end %>
	<% end %>
	</p>

	<p><strong>Sub Machine Guns: </strong></br>
	<% @guns.each do |gun| %>
		<% if(gun.gun_type == "Sub Machine Gun") %>
			<%= link_to(gun.gun_name, {:controller => 'items', :action => 'gun_stats', :id => gun.id}) %></br>
		<% end %>
	<% end %>	
	</p>

	<p><strong>Assault Rifles: </strong></br>
	<% @guns.each do |gun| %>
		<% if(gun.gun_type == "Assault Rifle") %>
			<%= link_to(gun.gun_name, {:controller => 'items', :action => 'gun_stats', :id => gun.id}) %></br>
		<% end %>
	<% end %>
	</p>

	<p><strong>Light Machine Guns: </strong></br>
	<% @guns.each do |gun| %>
		<% if(gun.gun_type == "Light Machine Gun") %>
			<%= link_to(gun.gun_name, {:controller => 'items', :action => 'gun_stats', :id => gun.id}) %></br>
		<% end %>
	<% end %>
	</p>

	<p><strong>Sniper Rifles: </strong></br>
	<% @guns.each do |gun| %>
		<% if(gun.gun_type == "Sniper Rifle") %>
			<%= link_to(gun.gun_name, {:controller => 'items', :action => 'gun_stats', :id => gun.id}) %></br>
		<% end %>
	<% end %>
	</p>

	<p><strong>Shotguns: </strong></br>
	<% @guns.each do |gun| %>
		<% if(gun.gun_type == "Shotgun") %>
			<%= link_to(gun.gun_name, {:controller => 'items', :action => 'gun_stats', :id => gun.id}) %></br>
		<% end %>
	<% end %>
	</p>

	<%= link_to("Back", {:controller => 'items', :action => 'index'}) %>

	</div>
</div>