<div class="background">
	<div class="main">

<h1><%= @legend.legend_name %></h1>

<p>
  <strong>Description:</strong>
  <%= @legend.legend_desc %>
</p>

<p>
  <strong><%= @legend.legend_passive_name %>:</strong>
  <%= @legend.legend_passive_desc %>
</p>

<p>
  <strong><%= @legend.legend_ability_name %>:</strong>
  <%= @legend.legend_ability_desc %>
</p>

<p>
  <strong><%= @legend.legend_ult_name %>:</strong>
  <%= @legend.legend_ult_desc %>
</p>

</div>
</div>