<%= form_with(model: legend, local: true) do |form| %>
  <% if legend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(legend.errors.count, "error") %> prohibited this legend from being saved:</h2>

      <ul>
      <% legend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :legend_name %>
    <%= form.text_field :legend_name, id: :legend_legend_name %>
  </div>

  <div class="field">
    <%= form.label :legend_desc %>
    <%= form.text_field :legend_desc, id: :legend_legend_desc %>
  </div>

  <div class="field">
    <%= form.label :legend_passive_name %>
    <%= form.text_field :legend_passive_name, id: :legend_legend_passive_name %>
  </div>

  <div class="field">
    <%= form.label :legend_passive_desc %>
    <%= form.text_field :legend_passive_desc, id: :legend_legend_passive_desc %>
  </div>

  <div class="field">
    <%= form.label :legend_ability_name %>
    <%= form.text_field :legend_ability_name, id: :legend_legend_ability_name %>
  </div>

  <div class="field">
    <%= form.label :legend_ability_desc %>
    <%= form.text_field :legend_ability_desc, id: :legend_legend_ability_desc %>
  </div>

  <div class="field">
    <%= form.label :legend_ult_name %>
    <%= form.text_field :legend_ult_name, id: :legend_legend_ult_name %>
  </div>

  <div class="field">
    <%= form.label :legend_ult_desc %>
    <%= form.text_field :legend_ult_desc, id: :legend_legend_ult_desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
